<div class="container">
  <h2><%= @product.name %></h2>
  <ul>
    <li>Preço: <%= number_to_currency @product.price %></li>
    <li>Desconto no Boleto: <%= number_to_percentage(@product.boleto_discount, precision: 2) %></li>
    <li>Desconto no Cartão de Crédito: <%= number_to_percentage(@product.credit_card_discount, precision: 2) %></li>
    <li>Desconto no PIX: <%= number_to_percentage(@product.pix_discount, precision: 2) %></li>
  </ul>
  <%= link_to 'Produtos', client_admin_company_products_path(current_user.company.token) , class:"btn btn-primary btn-sm " %>
  <%= link_to 'Atualizar dados', edit_client_admin_company_product_path(current_user.company.token, @product.token) , class:"btn btn-primary btn-sm " %>
  <%= link_to 'Excluir produto', product_status_client_admin_company_product_path(@company.token, @product.token), method: :patch, data: { confirm: "Are you sure?" }, class:"btn btn-primary btn-sm " %>
</div>
