<div class="container">
  <h2><%= @product.name %></h2>
  <ul>
    <li>Preço: R$ <%= @product.price %></li>
    <li>Desconto Boleto(%): <%= @product.boleto_discount %></li>
    <li>Desconto Cartão de Crédito(%): <%= @product.credit_card_discount %></li>
    <li>Desconto PIX(%): <%= @product.pix_discount %></li>
  </ul>
  <%= link_to 'Produtos', client_admin_company_products_path(current_user.company.token) , class:"btn btn-primary" %>
</div>
