<div class="container">
  <h2>Opções de pagamento escolhidas</h2> <br>
  <%= link_to 'Voltar', clients_company_path(current_user.company.token) , class:"btn btn-primary btn-sm" %> <br> <br>
  <div>
    <% @payments_chosen.each do |option|%>
      <div class="container">
        <p>
          <% if option.icon.persisted? %>
            <%= image_tag option.icon, size:'50' %>
          <% end %>
          <%= option.name %>, Taxa: <%= number_to_percentage(option.fee, precision: 2) %>, Taxa máxima: <%= number_to_currency option.max_money_fee %>
        </p>
      </div>
    <% end %>
  </div>
  <ol class="list-group list-group-numbered">
    <% if !@boletos.empty?%>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Boletos</div>
          <% @boletos.each do |boleto|%>
            <% if boleto.payment_option.active? %>
              <div class="container">
                <ul>
                  <li><%= boleto.payment_option.name %></li>
                  <li>Código do Banco: <%= boleto.bank_code.code %></li>
                  <li>Agência: <%= boleto.agency_number %></li>
                  <li>Conta: <%= boleto.account_number %></li>
                </ul>
              </div>
            <% end %>
          <% end %>
      </div>
    </li>
    <% end %>
    <% if !@credit_cards.empty? %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Cartões de Crédito</div>
          <% @credit_cards.each do |credit_card|%>
            <% if credit_card.payment_option.active? %>
              <div class="container">
                <ul>
                <li><%= credit_card.payment_option.name %></li>
                  <li>Código da operadora: <%= credit_card.credit_card_operator_token %></li>
                </ul>
              </div>
            <% end %>
          <% end %>
      </div>
    </li>
    <% end %>
    <% if !@pixes.empty? %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Pix</div>
          <% @pixes.each do |pix|%>
            <% if pix.payment_option.active? %>
              <div class="container">
                <ul>
                  <li><%= pix.payment_option.name %></li>
                  <li>Chave PIX: <%= pix.pix_key %></li>
                  <li>Código do Banco: <%= pix.bank_code.code %></li>
                </ul>
              </div>
            <% end %>
          <% end %>
      </div>
    </li>
    <% end %>
  </ol>
</div>