<h2><%= @company.corporate_name %></h2>
<ul>
  <li>CNPJ: <%= @company.cnpj %></li>
  <li>Email de faturamento: <%= @company.billing_email %></li>
  <li>Token: <%= @company.token %></li>
</ul>
<%= link_to 'Novo token', token_new_admin_company_path(@company.token), method: :patch, class:"btn btn-warning" %>
<% if !@block_company_1 && !@block_company_2 && @company.allowed? %>
  <%= link_to 'Bloquear', block_company_admin_company_path(@company.token), method: :patch, class:"btn btn-danger" %>
<% end %>
<div>
  <p>Endereço de faturamento:</p>
  <li>Estado: <%= @company.state %></li>
  <li>Cidade: <%= @company.city %></li>
  <li>Bairro: <%= @company.district %></li>
  <li>Rua: <%= @company.street %></li>
  <li>Número: <%= @company.number %></li>
  <li>Complemento: <%= @company.address_complement %></li>
</div>
<%= link_to 'Atualizar dados da empresa', edit_admin_company_path(@company.token), class:"btn btn-primary" %>
