<% if @charge.errors.any? %>
  <p>Foram encontrados <%= @charge.errors.count %> erro(s):</p>
  <ul>
    <% @charge.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with url: admin_charge_path(@charge.token, company_token: @company.token), model: [:admin, @charge] do |f| %>
  <div class="field form-group">
    <%= f.label :status_charge_id %>
    <%= f.collection_select :status_charge_id, @status_charges, :id, :display_name, class:"form-control" %>
  </div> <br>
  <h3>Aprovada:</h3>
  <div class="field form-group">
    <%= f.label :payment_date %>
    <%= f.date_field :payment_date, class:"form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :authorization_token %>
    <%= f.text_field :authorization_token, class:"form-control" %>
  </div> <br>
  <h3>Rejeitada:</h3>
  <div class="field form-group">
    <%= f.label :attempt_date %>
    <%= f.date_field :attempt_date, class:"form-control" %>
  </div>
  <%= f.submit t('.submit'), class:"btn btn-success mb-1 mt-1" %>
<% end %>
<%= link_to 'Cancelar', client_admin_charges_path, class:"btn btn-dark btn-sm mb-1 mt-1" %>