<% if @company %>
<h2><%= @company.corporate_name %></h2>
<ul>
  <li>CNPJ: <%= @company.cnpj %></li>
  <li>Email de faturamento: <%= @company.billing_email %></li>
  <li>Token: <%= @company.token %></li>
</ul>
<%= link_to 'Opções de pagamento', payments_chosen_client_admin_company_path(@company.token) , class:"btn btn-primary btn-sm" %>
<%= link_to 'Produtos cadastrados', client_admin_company_products_path(@company.token) , class:"btn btn-primary btn-sm" %>
<%= link_to 'Consultar cobranças pendentes', client_admin_charges_path , class:"btn btn-primary btn-sm" %>  <br> <br>
<%= link_to 'Consultar cobranças últimos 30 dias', thirty_days_client_admin_charges_path, class:"btn btn-primary btn-sm" %>
<%= link_to 'Emails cadastrados', emails_client_admin_company_path(@company.token) , class:"btn btn-primary btn-sm" %>
<%= link_to 'Requerer novo token', token_new_client_admin_company_path(@company.token), method: :patch,class:"btn btn-warning btn-sm" %> <br> <br>
<div>
  <p>Endereço de faturamento:</p>
  <li>Estado: <%= @company.state %></li>
  <li>Cidade: <%= @company.city %></li>
  <li>Bairro: <%= @company.district %></li>
  <li>Rua: <%= @company.street %></li>
  <li>Número: <%= @company.number %></li>
  <li>Complemento: <%= @company.address_complement %></li>
</div>
<%# link_to 'Atualizar dados da empresa', edit_client_admin_company_path(@company.token), class:"btn btn-primary" %>
<% else %>
  <h3>Token da companhia inválido</h3>
<% end %>