<div class="container">
  <h2>Opções de pagamento</h2> <br>
  <div>
    <% @payment_options.each do |option|%>
    <div class="container">
      <p><% if option.icon.persisted? %>
        <%= image_tag option.icon, size:'50' %>
        <% end %>
      <%= option.name %>, Taxa(%): <%= option.fee %>, Taxa máxima(R$): <%= option.max_money_fee %>
      </p>
    </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'Adicionar opções de pagamento', new_admin_payment_option_path , class:"btn btn-primary btn-sm" %>
    <% end %>
  <% end %>
  <%= link_to 'Voltar', root_path, class:"btn btn-primary btn-sm" %>
</div>