<div class="container">
  <h2>Opções de pagamento</h2> <br>
  <div>
  <%= link_to 'Voltar', payments_chosen_client_admin_company_path(current_user.company.token), class:"btn btn-primary btn-sm" %>
    <% @payment_options.each do |option|%>
    <div class="container">
      <p>
        <% if option.icon.persisted? %>
          <%= image_tag option.icon, size:'50' %>
        <% end %>
        <% if option.boleto? && option.active? %>
          <% if !@company.payment_options.include?(option) %>
            <%= link_to "Adicionar: #{option.name}", new_client_admin_payment_option_boleto_register_option_path(option) %>, Taxa(%): <%= option.fee %>, Taxa máxima(R$): <%= option.max_money_fee %>
          <% else %>
            Já Adicionanda: <%= option.name %>, Taxa(%): <%= option.fee %>, Taxa máxima(R$): <%= option.max_money_fee %>
          <% end %>
        <% elsif option.pix? && option.active? %>
          <% if !@company.payment_options.include?(option) %>
            <%= link_to "Adicionar: #{option.name}", new_client_admin_payment_option_pix_register_option_path(option) %>, Taxa(%): <%= option.fee %>, Taxa máxima(R$): <%= option.max_money_fee %>
          <% else %>
            Já Adicionanda: <%= option.name %>, Taxa(%): <%= option.fee %>, Taxa máxima(R$): <%= option.max_money_fee %>
          <% end %>
        <% elsif option.credit_card? && option.active? %>
          <% if !@company.payment_options.include?(option) %>
            <%= link_to "Adicionar: #{option.name}", new_client_admin_payment_option_credit_card_register_option_path(option) %>, Taxa(%): <%= option.fee %>, Taxa máxima(R$): <%= option.max_money_fee %>
          <% else %>
            Já Adicionanda: <%= option.name %>, Taxa(%): <%= option.fee %>, Taxa máxima(R$): <%= option.max_money_fee %>
          <% end %>
        <% end %>
      </p>
    </div>
    <% end %>
  </div>
</div>