<div class="container">
  <h2>Opções de pagamento</h2> <br>
  <div>
    <% @payment_options.each do |option|%>
    <div class="container">
      <p><% if option.icon.persisted? %>
        <%= image_tag option.icon, size:'50' %>
        <% end %>
      <% if option.name.include?('Boleto')%>
      <%= link_to "Adicionar #{option.name}", new_client_admin_payment_option_boleto_register_option_path(option) %>, Taxa(%): <%= option.fee %>, Taxa máxima(R$): <%= option.max_money_fee %>
      <% elsif option.name.include?('PIX') || option.name.include?('Pix') %>
      <%= link_to "Adicionar #{option.name}", new_client_admin_payment_option_pix_register_option_path(option) %>, Taxa(%): <%= option.fee %>, Taxa máxima(R$): <%= option.max_money_fee %>
      <% elsif option.name.include?('Cartão de Crédito')%>
      <%= link_to "Adicionar #{option.name}", new_client_admin_payment_option_credit_card_register_option_path(option) %>, Taxa(%): <%= option.fee %>, Taxa máxima(R$): <%= option.max_money_fee %>
      <% end %>
      </p>
    </div>
    <% end %>
  </div>
  <%= link_to 'Voltar', '#' , class:"btn btn-primary btn-sm" %>
</div>